/* --------------------------------- header --------------------------------- */

header {
    z-index: 10;
    background-color: nth($colores, 1);
    position: sticky;
    top: 0;
    font-size: 1em;

    .row {
        max-width: 72rem;
        margin: auto;

        .logo {
            @include ubicacion (flex, center, center, row);
            padding-left: 10em;

            .logo-img {
                width: 4em;
                border-radius: 20%;
                padding: 0.5em;
            }

            h1 {
                color: nth($colores, 3);
                font-family: 'Raleway', sans-serif;
                font-size: 1.8em;
                font-weight: unset;
                align-self: center;
            }

            @media screen and (max-width: 700px) {
                padding-left: 2em;
            }

            @media screen and (max-width: 576px) {
                @include ubicacion (flex, flex-start, center, row);
                padding-left: 0em;
            }
        }

        .cuenta {
            @include ubicacion (flex, center, center, row);

            @media screen and (max-width: 400px) {
                @include ubicacion (flex, center, center, column);
                padding: 1em 0em;
            }

            .botonLogin {
                color: nth($colores, 2);
                align-self: center;
                margin-bottom: 0.1em;
                padding-right: 0.4em;
                cursor: pointer;

                p {
                    margin-bottom: 0em
                }
            }

            .login--borrar {
                display: none;
            }
            
            .btnCarrito {
                display: flex;
                justify-content: center;
                width: 25%;
                padding: 0.5em;

                &:focus {
                    box-shadow: none !important;}
                
                @media screen and (max-width: 576px) {
                    width: auto;
                    padding: 0em;
                }

                .logo-carrito {
                    padding-right: 0.2em;
                    align-self: center;
                }

                .contCarrito {
                    align-self: center;
                    color: nth($colores, 2);
                }
            }

        }

        @media screen and (max-width: 1200px) {
            max-width: 60rem;
            margin: auto;
        }

        @media screen and (max-width: 900px) {
            max-width: 50rem;
            margin: auto;
        }
    }

    /* ------------------------------- inicio nav ------------------------------- */
    .navbar {
        box-shadow: 0 0 5px 0 rgb(221, 215, 215);
        z-index: 10;
        padding: 0px;
        position: relative;
        top: 0;
    }

    .button-nav {
        background-color: nth($colores, 2);
        color: gray;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav li:hover ul {
        display: block;
    }

    .nav-link {
        color: nth($colores, 2) !important;
        font-size: 1.2em;
        --clippy: polygon(0 0, 0 0, 0 98%, 0% 100%);
    }

    .nav-link::after {
        content: "";
        display: block;
        background-color: white;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    }

    .nav-link:hover {
        color: rgb(37, 36, 36);
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .categoria {
        background-color: nth($colores, 1);
        color: nth($colores, 2);

        .cat-item {
            padding: 0.2em 0.5em;

            &:hover {
                background-color: nth($colores, 2);
                color: black;
                cursor: pointer
            }
        }
    }

    .navbar-toggler {
        margin: .25rem
    }

    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}


/* ------------------------------- fin nav ------------------------------- */