/* --------------------------------- header --------------------------------- */

#header-home {
    z-index: 10;
    position: sticky;
    transition: 0.7s;
    margin-top: 20px;
    top: 0;
    font-size: 1.3em;
    background-color: transparent;

    .barra {
        max-width: 72rem;
        margin: auto;

        .logo {
            position: relative;
            right: 2em;
            @include ubicacion (flex, center, center, row);
            padding-left: 10em;

            @media screen and (max-width: 976px) {
                padding-left: 6em;
                height: auto;
            }

            @media screen and (max-width: 546px) {
                padding-left: 0em;
            }

            a {
                color: transparent;
                display: flex;

                .logo-img {
                    border-radius: 20%;
                    visibility: hidden;
                }

                .logo-portada {
                    object-fit: cover;

                    padding: 0.5em;

                    @media screen and (max-width: 976px) {
                        width: 4em;
                    }
                }
            }

            h1 {
                color: nth($colores, 3);
                font-family: 'Raleway', sans-serif;
                font-size: 3em;
                font-weight: unset;
                align-self: flex-end;
                margin-bottom: 0.5em;

                @media screen and (max-width: 976px) {
                    font-size: 1.5em;
                    margin-bottom: 1em;
                }
            }
        }

        .cuenta {
            visibility: hidden;
            @include ubicacion (flex, center, center, row);

            @media screen and (max-width: 400px) {
                @include ubicacion (flex, flex-end, center, column);
              padding: 1em 0em;
            }

            .botonLogin {
                 color: nth($colores, 2);
                align-self: center;
                margin-bottom: 0.1em;
                cursor: pointer;
         

                .iniciar  {
                    margin-bottom: 0em;

                        @media screen and (max-width: 546px) {
                            font-size: 0.8em;
                        }
                }
            }

            .login--borrar {
                display: none;
            }

            .btnCarrito {
                display: flex;
                justify-content: center;
                width: 25%;
                padding: 0.5em;
                &:focus {
                    box-shadow: none !important;}

                @media screen and (max-width: 576px) {
                    width: auto;
                    padding: 0em;
                }

                .logo-carrito {
                    padding-right: 0.2em;
                    align-self: center;
                }

                .contCarrito {
                    align-self: center;
                    color: nth($colores, 2);
                }
            }
        }
    }

    &.down {
        background-color: nth($colores, 1);
        font-size: 1rem;

        .logo {
            right: 0;

            a .logo-img {
                visibility: visible;
            }

            .logo-portada {
                display: none;
            }

            h1 {
                color: nth($colores, 3);
                font-family: 'Raleway', sans-serif;
                font-size: 1.8em;
                font-weight: unset;
                align-self: center;

                @media screen and (max-width: 976px) {
                    font-size: 1.5em;
                    margin-bottom: 0.5em;
                }
            }
        }

        .cuenta {
            visibility: visible;
        }

        .dropdown-menu {
            background-color: nth($colores, 1)
        }
    }

    /* ------------------------------- inicio nav ------------------------------- */
    .navbar {
        box-shadow: 0 0 5px 0 rgb(221, 215, 215);
        z-index: 10;
        padding: 0px;
        position: relative;
        top: 0;
        transition: top 0.3s;
    }

    .button-nav {
        background-color: nth($colores, 2);
        color: nth($colores, 4);
    }

    .navbar-collapse {
        justify-content: center;
    }

    .navbar-nav li:hover ul {
        display: block;
    }

    .nav-link {
        color: nth($colores, 2) !important;
        font-size: 1.2em;
        --clippy: polygon(0 0, 0 0, 0 98%, 0% 100%);
    }

    .nav-link::after {
        content: "";
        display: block;
        background-color: white;
        width: 90%;
        margin-top: 3px;
        height: 3px;
        clip-path: var(--clippy);
        transition: clip-path .5s;
    }

    .nav-link:hover {
        color: nth($colores, 4);
        --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navbar-toggler {
        margin: .25em
    }

    @media screen and (max-width: 576px) {
        font-size: 1em;
    }
}

/* ------------------------------- fin nav ------------------------------- */