 /* -------------------------------- Productos ------------------------------- */

 .tit-productos {
   max-width: 1140px;
   margin: auto;

   h2 {
     font-size: 2.5em;
     text-align: center;
     padding: 0.5em 0em;
     border-bottom: 1px solid gray;
     margin: 1em
   }

   @media screen and (max-width: 576px) {
     font-size: 14px;
   }
 }

 .productos__card {
   max-width: 1140px;
   margin: auto;

   .card-row {
     @media screen and (max-width: 991px) {
       justify-content: center
     }

     .cont-card {
       @include ubicacion(flex, center, center, column);
       flex-wrap: nowrap;
       padding-bottom: 1em;

       @media screen and (max-width: 575px) {
         justify-content: center;
       }
     }

     .card-home {
       @media screen and (max-width: 575px) {
         margin: 0rem 2rem;
         width: 70%;
         height: auto;
       }

       img {
         padding-bottom: 0.5em;
       }

       .card-title {
         text-align: center
       }

       .card-text {
         text-align: center;
         margin-bottom: 0.5em
       }

       .btn {
         @extend %boton;
         margin: 0em 2em 1em 2em;
         padding: 0.5em 0em;

         &:focus {
           box-shadow: none !important
         }
       }
     }
   }
 }

 #carrito-contenedor {

   .carritoVacio {
     border: 2px solid nth($colores, 3);
     border-radius: 6px;
     font-size: 16px;
     text-align: center;
   }

   .card {
     .row {
       height: 100%;

       .img-carrito {
         height: 100%;

         img {
          object-fit: cover;
           height: 100%;
         }
       }

       .card-detalle {
         padding: 0em 1em;

         .card-title {
           font-weight: 700;
           border-bottom: 1px gray solid;
           text-align: start;
         }

         .card-text {
           margin-bottom: 0.2em;
         }
       }

       .eliminar {
         align-self: center;
         background-color: nth($colores, 3);
         border: none;
         object-fit: contain;
         height: 100%;

         &:focus {
           box-shadow: none;
         }
       }
     }
   }
 }

 .totalCarrito {
   border-bottom: solid 1.2px gray;
   padding: 1em;
   font-size: 18px;
   font-weight: bold;
 }

 .botonCarrito {
   display: none;
 }

 .apareceBtn {
   display: flex;
   justify-content: space-around;

   .pagar {
     border: 2px solid lighten(rgb(69, 131, 69), 30%);
     border-radius: 6px;
     font-size: 16px;
     text-align: center;
     padding: 0.5em 2em;
     margin-bottom: 1em;
     background-color: nth($colores, 2);
     color: rgb(90, 90, 90);
     font-weight: bold;
   }

   .borrarCarrito {
     border: 2px solid lighten(red, 30%);
     border-radius: 6px;
     font-size: 16px;
     text-align: center;
     padding: 0.5em 1em;
     margin-bottom: 1em;
     background-color: nth($colores, 2);
     color: rgb(90, 90, 90);
     font-weight: bold;
   }
 }

 /* ------------------------------ fin productos ----------------------------- */